@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;

}
.wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sedans {
    background-image: url(./images/icon-sedans.svg);
    background-repeat: no-repeat;
    background-color: #E28525;
    background-position: 50px 30px;
    border-radius: 10px 0px 0px 10px; 
    color: white;
    line-height: 20px;
}

.sedans h1, .suvs h1, .luxury h1 {
      font-family: 'Big Shoulders Display', cursive;
    }


.sedans p {
    font-weight: 200;
}
.box {
    padding:100px 50px 50px 50px;
}

.rodape {
    display: hidden;
}

.text {
    text-align: left;
    padding: 10px 0px 50px 0px;
}

.button {
    padding: 15px 25px 15px 25px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.bnt_sedans {
    color: orange;
} 

.suvs {
    background-color: #016972;
    border-radius: 0px 0px 0px 0px;
    color: white;
    background-image: url(./images/icon-suvs.svg);
    background-repeat: no-repeat;
    background-position: 50px 30px;
    line-height: 20px;
    font-weight: 200;
    
}

.bnt_svus {
    color:  #016972;
}

.luxury {
    background-color: #00403F;
    border-radius: 0px 10px 10px 0px;
    color: white;
    background-image: url(./images/icon-luxury.svg);
    background-repeat: no-repeat;
    background-position: 50px 30px;
    line-height: 20px;
    font-weight: 200;
}

.bnt_luxury {
    color: #00403F;
}


@media screen and (max-width: 600px) {
    .wrap {
        display: flex;
        flex-direction: column;
        }
    .box {
        border-radius: 0px;
        }
        .sedans {
            border-radius: 10px 10px 0 0;
            width: 197px;
        }
        .luxury {
            border-radius: 0 0 10px 10px;
        }
}
    
